body {
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:hover {background-color: #f5f5f5;}

#welcome {
    text-align: center;
}

.login{
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-card {
    transition: 0.3s;
    width: 50%;
    border-radius: 5px;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.2);
    padding: 20px;
    border: 1px solid #ccc;

   }
   
   .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
   }
   
   .container {
    padding: 2px 16px;
   }
   
   .button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
   }